html {
	height: 100%;
}

body, button, div, form, input, li, ul {
	margin: 0;
	padding: 0;
	font-family: NanumGothic,'나눔고딕';
}

li {
	list-style-type: none;
}

.body {
	position: relative;
	width: 100%;
	height: 100%;
}

.wrap {
	height: 100%;
	position: relative;
}

.bg_box {
	overflow: hidden;
	width: 100%;
	/*height: 100%;*/
	min-width: 1024px;
	min-height: 768px;
	left: 0;
	top: 0;
	position: fixed;
	background-color: #71FF94;
	/*background-color: #18cf8c;*/
	z-index: -1;
}

.bg_box .bg_img {
	width: 100%;
	height: 100%;
	background-size: cover;
}

.content {
    padding: 100px;
}

.content p {
	padding: 30px;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	background-color: rgba( 255, 255, 255, 0.4);
}


.footer {
	position: absolute;
	left: 26px;
	right: 26px;
	bottom: 22px;
	z-index: 20;
	min-height: 30px;
}

.footer .com_info {
	position: absolute;
	top: 0;
	right: 0;
}

.footer li {
	float: left;
	font-size: 12px;
	color: #eff0f0;
	text-decoration: none;
}

.footer a {
	cursor: pointer;
}

.footer .bar {
	display: inline-block;
	width: 1px;
	height: 8px;
	margin: 0 5px 0 7px;
	border-left: 1px solid #eff0f0;
}

.footer p {
	padding-top: 10px;
	font-size: 12px;
	color: #fff;
	opacity: .8;
	cursor: pointer;
}